<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
    <body>
        <form action="/student/add" th:object="${student}" method="post">
            <h2 align="center">New Student</h2>
            <br/>
            <table cellspacing="2" align="center" cellpadding="2">
                <tr>
                    <td>ID</td>
                    <td><input type="text" th:field="*{ID}"></td>
                </tr>
                <tr>
                    <td>Full Name</td>
                    <td><input  type="text" th:field="*{full_name}"></td>
                </tr>
                <tr>
                    <td>Class Room</td>
                    <td><input  type="text" th:field="*{class_room}"></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td> <input type="text" th:field="*{address}"></td>
                </tr>
                <tr>
                    <td colspan="1">
                        <button type="submit"> Save </button>
                    </td>
                    <td>
                        <button type="button"><a href="/student">Back To Home</a></button>
                    </td>
                </tr>
            </table>
            <p th:text="${message}" align="center"></p>
        </form>
    </body>
</html>